<p>

  this is a  stupid dan command!

  Fake news websites (also referred to as hoax news[1][2]) deliberately publish hoaxes, propaganda, and disinformation purporting to be real news—often using social media to drive web traffic and amplify their effect.[3][4][5] Unlike news satire, fake news websites seek to mislead rather than entertain readers, often for financial or political gain.[6][4] Such sites have promoted political falsehoods in Germany,[7][8] Indonesia and the Philippines,[9] Sweden,[10][11] Myanmar,[12] and the United States.[13][14][15] Many sites originate, or are promoted, from Russia,[3][13][16] Macedonia,[17][18] Romania,[19] and the United States.[20][21]
</p>
